.blogs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 0;
}

.blogs-title {
    font-size: 2.5rem;
    color: var(--color-primary);
    margin: 1rem 0 0 0;
}

.blog-container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    /* column-gap: 12%; */
    width: 80%;
}