.product__slideshow {
  display: flex;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  border-radius: 8px;
  padding: 2rem 2rem 2.5rem 2rem;
  margin-top: 9rem;
  color: white !important;
}

.menu-wrapper .menu-title {
  margin-bottom: 1rem;
  margin-left: 2.7rem;
}

.slideshow-navigator.prev {
  margin: auto;
  margin-right: 0.7rem;
}

.slideshow-navigator.next {
  margin: auto; 
  margin-left: 0.7rem;
}

.product__info-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  min-height: 460px;
}

.product__info-container {
  display: flex;
  gap: 2rem;
  width: 100% !important;
}

.product__info-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__info-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.product__info-image {
  border-radius: 8px;
  width: 41rem;
  height: 41rem;
  object-fit: contain;
}

.product__info-name {
  font-size: 2.5rem;
}

.product__info-description {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1xrem;
  display: -webkit-box;
  -webkit-line-clamp: 13;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 0.7rem;
}

.product__info-price {
  font-size: 1.2rem;
}

.product__info-number {
  font-size: 1.5rem;
}

.product__info-ingredients {
  font-size: 1.2rem;
}

.product__info-quantity {
  font-size: 1.2rem;
}

.btn-order-cart {
  border: 1px solid white;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: transparent;
}

.btn-order-cart:hover {
  background-color: white;
  color: var(--color-primary);
  transition: all 0.3s ease;
}

.product__quantity {
  font-size: 18px;
  text-align: center;
  min-width: 30px;
}

.product__quantity-btn {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.35rem 0.75rem;
  margin: 0 1rem;
  user-select: none;
}

.product__order-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.product__quantity-title {
  font-size: 1.2rem;
}

.product__order {
  display: flex;
  align-items: center;
}
