.product__slideshow {
  display: flex;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  border-radius: 8px;
  padding: 2rem 2.5rem 2.5rem;
  color: white !important;
}

.product__info-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.2rem;
}

.product__info-container {
  display: flex;
  gap: 2rem;
  width: 100% !important;
}

.product__info-left {
}

.product__info-right {
  flex: 1;
}

.product__info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__image-wrapper {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.product__info-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product__info-name {
  font-size: 3rem;
}

.product__info-description {
  font-size: 1.2rem;
  flex: 1;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__info-quantity,
.product__info-price {
  color: yellow;
}

.product__info-quantity,
.product__info-price,
.product__info-ingredients {
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-order {
  border: 1px solid white;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: transparent;
}

.product__quantity {
  font-size: 18px;
  text-align: center;
  min-width: 30px;
}

.product__quantity-btn {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.35rem 0.75rem;
  margin: 0 1rem;
}

.product__order-container {
  display: flex;
  justify-content: space-between;
}

.product__quantity-title {
  font-size: 1.2rem;
}

.product__order {
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .product__info-container {
    flex-direction: column;
  }
}
